<header id="unalTop">
<div class="logo">
	<a href="http://unal.edu.co">
		<img alt="Escudo de la Universidad Nacional de Colombia" src="public/img/plantilla/escudoUnal.png" width="189" height="70" title="Escudo de la Universidad Nacional de Colombia"/>
	</a>
	<div class="diag">
	</div>
</div>
<div class="seal">
	<img alt="Escudo de la República de Colombia" src="public/img/plantilla//sealColombia.png" width="66" height="66" title="Escudo de la República de Colombia"/>
</div>
<div class="firstMenu">
	<div class="btn-group tx-srlanguagemenu">
		<div class="btn btn-default dropdown-toggle" data-toggle="dropdown"> ES <span class="caret"></span>		</div>
		<ul class="dropdown-menu" role="menu"></ul>
	</div>
	<ul class="socialLinks">
		<li><a href="https://twitter.com/bogdiracad" target="_blank" class="twitter" title="Síguenos en Twitter"></a></li>
		<li><a href="https://www.facebook.com/direccionacademica.sedebogota" target="_blank" class="facebook" title="Síguenos en Facebook"></a></li>
	</ul>
	<div class="navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="item_Aspirantes"><a href="http://www.admisiones.unal.edu.co" target="_top">Aspirantes</a></li>
			<li class="item_Estudiantes"><a href="http://estudiantes.unal.edu.co" target="_top">Estudiantes</a></li>
			<li class="item_Egresados"><a href="http://egresados.unal.edu.co" target="_top">Egresados</a></li>
			<li class="item_Docentes"><a href="http://docentes.unal.edu.co" target="_top">Docentes</a></li>
			<li class="item_Administrativos"><a href="http://administrativos.unal.edu.co" target="_top">Administrativos</a></li>
		</ul>
		</nav>
	</div>
</div>
<!-- div navigation-->
<div class="navigation">
	<div class="site-url">
		<div class="icon"></div>
    <a class="home-link" href="http://www.catedras-bogota.unal.edu.co">catedras-bogota.unal.edu.co</a>
	</div>


	<div id="menu_navegacion_todos_los_roles"> </div>


</div>
<!-- Fin div navigation-->

<div class="buscador">
	<gcse:searchbox-only resultsurl="http://unal.edu.co/resultados-de-la-busqueda/"></gcse:searchbox-only>
</div>
</header>
